@import "./variables.scss";
@import "./layout.scss";
@import "./typography.scss";

.App {
    background-color: $primary-color-light-bg;
}

.mainPage {
    display: flex;
    justify-content: center;

    height: 100vh;

    .App-header {
        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    
        @extend .light-bg-text ;
    
        .headline-text {
            font-size: calc(10px + 3vmin);
        }
    
        .action-container {
            .start-actions {
                .action-button  {
                    border-radius: 20px;
                    margin: 5px;
                }
            }

            .transition-speed-actions {
                .mdc-slider__track-container {
                    background-color: transparentize($color: $primary-color, $amount: 0.74);
                    .mdc-slider__track {
                        background-color: $primary-color;
                    }
                }
                .mdc-slider__thumb-container svg.mdc-slider__thumb {
                    stroke: $primary-color;
                    fill: $primary-color;
                }
            }
        }
    }
    
    .App-content {
        flex: 2;

        display: flex;
        justify-content: center;
    
        background-color: white;
        border-radius: 0 0 0 120px;
    
        .sort-animation-container {
            margin: 20px;
    
            display: flex;
            flex-direction: column;

            .sort-animation {
                display: flex;
                flex-direction: column;
    
                .header {
    
                }
                .visualization {
    
                }
    
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

.secondaryPage {
    .user-controls {
        .scale-control {

        }
    }
}

.pageStandardContent {
    padding: 5vmin 10vmin;
}